<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<title></title>
</head>
<body>
	<% include ../partials/header %>
		<div class="container">
			<div class="jumbotron">
				<h1>DELETING: <%= things[0].name %></h1>
				<form method="POST" action="/students/<%= things[0].id %>?_method=DELETE">
					<button type="submit" class="form-control btn btn-default">DESTROY THE SHIT OUTA <%= things[0].name %></button>
				</form>
			</div>
		</div>
	<% include ../partials/footer %>
</body>
</html>